In [193]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns',None)

In [194]:
import warnings
warnings.filterwarnings('ignore')

In [195]:
df=pd.read_excel("Data_Train.xlsx")

In [196]:
df.shape

(10683, 11)

In [197]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null object
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

## Missing values

In [199]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [200]:
df1=df.dropna()
df1.shape

(10682, 11)

## Splitting

In [201]:
df1['Day'],df1['Month'],df1['Year']=df1['Date_of_Journey'].str.split('/',3).str

In [202]:
df1['Dep_Hr'],df1['Dep_Min']=df1['Dep_Time'].str.split(':',2).str

In [203]:
df1['Arrival_Time'].unique()

array(['01:10 22 Mar', '13:15', '04:25 10 Jun', ..., '06:50 10 Mar',
       '00:05 19 Mar', '21:20 13 Mar'], dtype=object)

In [204]:
df1['Arrival_Time'],_=df['Arrival_Time'].str.split(' ',1).str

In [205]:
df1['Arrival_Time'].unique()

array(['01:10', '13:15', '04:25', '23:30', '21:35', '11:25', '10:25',
       '05:05', '19:15', '23:00', '22:55', '13:55', '09:20', '19:50',
       '12:35', '19:20', '13:20', '06:50', '21:50', '08:15', '03:35',
       '12:55', '23:15', '21:00', '20:20', '16:45', '19:00', '18:10',
       '15:15', '08:35', '11:05', '14:15', '10:55', '00:15', '02:45',
       '12:00', '23:55', '01:30', '09:25', '15:25', '15:35', '08:30',
       '10:05', '14:30', '07:55', '10:35', '22:35', '04:40', '07:25',
       '20:45', '14:25', '22:30', '23:20', '07:40', '22:50', '14:35',
       '08:55', '18:50', '09:05', '01:35', '09:40', '16:25', '11:10',
       '17:05', '17:50', '23:10', '08:45', '07:45', '16:10', '00:55',
       '23:35', '20:00', '00:40', '21:45', '18:15', '03:25', '04:15',
       '21:10', '21:05', '09:45', '18:05', '22:00', '15:30', '08:50',
       '08:00', '19:35', '11:20', '10:15', '12:45', '02:20', '07:15',
       '11:50', '18:30', '19:45', '21:20', '20:05', '09:10', '22:20',
       '10:10', '01:00', '23:50', '12:20', '20:25', '22:45', '21:25',
       '14:05', '00:05', '19:55', '16:20', '07:05', '19:10', '12:05',
       '04:05', '19:40', '17:55', '17:25', '00:30', '23:40', '23:05',
       '00:50', '13:45', '09:15', '20:35', '07:10', '09:35', '14:20',
       '04:45', '10:30', '19:25', '05:35', '09:00', '22:40', '14:45',
       '13:25', '21:55', '10:45', '10:40', '13:00', '22:10', '18:35',
       '05:25', '22:15', '12:10', '12:15', '14:00', '02:15', '12:50',
       '17:15', '07:35', '23:45', '22:25', '12:25', '06:35', '01:20',
       '18:45', '09:30', '04:20', '10:50', '23:25', '22:05', '13:30',
       '13:35', '17:35', '08:20', '18:25', '10:20', '15:50', '11:30',
       '14:10', '00:25', '03:15', '15:55', '00:45', '04:35', '18:00',
       '12:30', '02:10', '00:20', '21:40', '08:40', '16:55', '20:30',
       '17:20', '00:35', '20:15', '14:50', '13:40', '16:50', '15:05',
       '17:45', '18:40', '03:10', '16:40', '09:50', '13:05', '17:40',
       '20:40', '17:10', '20:50', '00:10', '08:10', '16:15', '16:05',
       '10:00', '16:35', '18:20', '04:00', '21:15', '14:40', '01:45',
       '16:30', '11:55', '15:20', '20:10', '15:00', '15:45', '12:40',
       '15:10', '13:10', '11:15', '03:40', '16:00', '11:35'], dtype=object)

In [206]:
df1['Arr_Hr'],df1['Arr_Min']=df1['Arrival_Time'].str.split(':',2).str

In [207]:
df1['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [208]:
df1['Duration']=df1['Duration'].str.replace('h',':').str.replace('m','')

In [209]:
df1['Duration_Hr'],df1['Duration_Min']=df1['Duration'].str.split(' ',2).str

In [210]:
df1['Duration_Hr']

0         2:
1         7:
2        19:
3         5:
4         4:
        ...
10678     2:
10679     2:
10680     3:
10681     2:
10682     8:
Name: Duration_Hr, Length: 10682, dtype: object

In [211]:
df1['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [212]:
df1['Total_Stops'],_=df1['Total_Stops'].str.split(' stop').str

In [213]:
df1['Total_Stops']

0        non-stop
1               2
2               2
3               1
4               1
           ...
10678    non-stop
10679    non-stop
10680    non-stop
10681    non-stop
10682           2
Name: Total_Stops, Length: 10682, dtype: object

In [214]:
df1['Total_Stops']=df1['Total_Stops'].apply(lambda x:0 if 'non-stop' in x else x)

In [215]:
df1['Total_Stops'].unique()

array([0, '2', '1', '3', '4'], dtype=object)

In [216]:
df1['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [217]:
df1['Additional_Info']=df1['Additional_Info'].str.replace('No info','No Info')

In [218]:
df1['Additional_Info'].unique()

array(['No Info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [219]:
df1['Price'].describe()

count    10682.000000
mean      9087.214567
std       4611.548810
min       1759.000000
25%       5277.000000
50%       8372.000000
75%      12373.000000
max      79512.000000
Name: Price, dtype: float64

In [220]:
df1.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 0
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           0
Additional_Info       0
Price                 0
Day                   0
Month                 0
Year                  0
Dep_Hr                0
Dep_Min               0
Arr_Hr                0
Arr_Min               0
Duration_Hr           0
Duration_Min       1032
dtype: int64

In [221]:
df1.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hr,Dep_Min,Arr_Hr,Arr_Min,Duration_Hr,Duration_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2: 50,0,No Info,3897,24,03,2019,22,20,01,10,2:,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7: 25,2,No Info,7662,1,05,2019,05,50,13,15,7:,25
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19:,2,No Info,13882,9,06,2019,09,25,04,25,19:,NaN
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5: 25,1,No Info,6218,12,05,2019,18,05,23,30,5:,25
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4: 45,1,No Info,13302,01,03,2019,16,50,21,35,4:,45

In [222]:
df1.to_csv('Cleaned.csv',index=False)